.profile_container{
    background-color: #fff;
    padding: 1em 1em;
    border-radius: 5px;
}

.profile_container ul >li{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 0.6em 0.3em;
}

.profile-hearders{
    background-color: #f4f4fa;
}

.profile_container ul >li p{
    font-size: 0.98em;
}

.modify{
    background-color: #ff7a59;
    color: #fff;
    font-size: 0.9em;
    padding: 0.2em;
    border-radius: 3px;
    margin-left: 0.5em;
}