@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,700;0,800;1,200;1,300;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.great-container{
    height: 100%;
    max-width: 1600px;
    min-width: 442px;
    display: flex;
    background-color: aqua;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.text-center{
    text-align: center;
}

.vertical-center-align{
    display: flex;
    align-items: center;
}

.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --blue: blue;
    --green: green;
    --purple: rebeccapurple;
    --red: red;
    --orange: orange;
}

.clr-blue{
    color: var(--blue);
}

.clr-green{
    color: var(--green);
}
.clr-red{
    color: var(--red);
}

.clr-orange{
    color: var(--orange);
}

.clr-purple{
    color: var(--purple);
}